body {
    background-color: rgb(0, 0, 0);
}

#container {
    background-color: rgb(163, 100, 179);
    width: 900px;
    margin: 20px auto;
    border-radius: 20px;
}

header {
    padding-top: 20px;
    background-color: rgb(221, 135, 36);
    border-radius: 20px 20px 0 0;
}

header img {
    display: block;
    width: 30%;
    margin: 0 auto;
}

header h1 {
    font-size: 2.5em;
    text-align: center;
    color: rgb(0, 0, 0);
}

nav {
    background-color: rgb(0, 0, 0);
    padding-top: 10px;
    text-align: center;
}

nav a {
    display: inline-block;
    background-color: rgb(221, 135, 36);
    height: 50px;
    width: 175px;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 50px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 10px 10px 0 0;
    margin: 0 10px;
}

nav a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

main {
    background-color: rgb(221, 135, 36);
    padding: 20px;
    margin: 0 20px 20px 20px;

}

main h2 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 2em;
}

main img {
    display: block;
    width: 50%;
    margin: 20px auto;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 20px;
}

footer{
    background-color: rgb(221, 135, 36);
    padding: 60px 0;
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    text-align: center;
    border-radius: 0 0 20px 20px;
}

.active {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.pro_head {
    text-align: center;
    color: #000000;
    font-size: 1,5em;
}